

@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Lobster');

div.wrap {
    width:800px;
    height: 100px;
    margin:15px auto;
    margin-bottom: 400px;
    font-size: 25px;
}

body {
   background: url("../images/free-beach-background.jpg")
    no-repeat center center  fixed;
    background-size: cover;
    font-family: 'Rokkitt', serif;
}

h1 {
	text-align: center;
	color: #00ff00;
	font-size: 2em;
    font-family: 'Lobster', cursive;
    background-color: #fff;
}

hr {
  width: 100%;
}

header {
    background-color: #FFED74;
    padding: 1.5%;
}


#two_column {
    background-color: #FFB7CF;
    border: 1% black solid;
    padding: 1.5%;
}

#left {
    background-color: violet;
    border: 1% black solid;
    padding: .025%;
    float: left;
    width: 58%;
}

#right {
    background-color: pink;
    border: 1% black solid;
    padding: 1.5%;
    float: right;   
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


ul {
    background-color: #fff;
    width: 80%;
    margin: auto auto;
    border-style: solid;
    border-color: #ff0000;
    font-size: .8em;
}

li {
    float: center;
}

#slogan { 
    text-align: center;
    color: #ff0000;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}


#history {
	background-color: #fff;
    text-align: center;
    font-size: .1em;
	margin: 0 auto;
	margin-top: 25%;
    border-style: solid;
    border-color: #00ff00;
    width: 75%;
	}

.crepe_image {
    float: left; 
    margin-bottom: 0;
    border-style: solid;
    border-color: #ff0000;
    padding-right: .1%;
    padding-left: .1%;
}

footer {
    background-color: #FF957E;
    border: 1% black solid;
    padding: 1.5%;
}

@media only screen and (max-width: 800px) {
  .crepe_image {
    float:none;
    width:auto;
  }

  #left {
    width: 50%;
  }
  #right {
    width: 30%;
  }
  }

@media only screen and (max-width: 750px) {
  .crepe_image {
    display:none;
  }
  }
