
div.wrap {
    width:800px;
    height: 100px;
    margin:15px auto;
    margin-bottom: 400px;
}

body{
   background: url("../images/free-beach-background.jpg")
    no-repeat center center  fixed;
        background-size: cover;
}

h1 {
	text-align: center;
	color: #0000ff;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
}

#slogan { 
    text-align: center;
    color: #ff0000;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

hr {
  width: 100;
}


#history {
	background-color: #0000ff;
    font-size: 18px;
	width: 500me;
	margin: 0 auto;
	margin-top: 175px;
	}

#crepes {
    background-color: #ff0000;
    width: 100px;
	color: #000;
	font-size: 14px;
	margin: 10px auto;
}

