


h1 {
	text-align: center;
	color: green;
	font-size: 50px;
	font-family: "Apple Chancery", Times, serif;
}

#slogan { 
    text-align: center;
    color: #ff0000;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}



hr {
  width: "100%";
}
/*
body {
  text-align: center;
  position: center;
  background: url("images/hero.jpg");
  background-size: cover;
  font-family: Helvetica;
}*/